<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <a href="http://getbootstrap.com/">Bootstrap</a> theme based on <a href="https://bootswatch.com/darkly">Darkly</a>.
      All movie details and images are from <a href="http://www.imdb.com/">IMDB</a>
    </p>
  </div>
</footer>